* {
  background-color: lightgray;
  color: navy;
  font-family: sans-serif;
}

#myform {
  text-align: center;
}

input {
  background-color: white;
}

p {
  font-size: 15px;
  font-weight: bold;
}

#contacts {
  text-align: center;
}

#submitButton {
  background-color: lightsteelblue;
}

#deleteButton {
  background-color: lightcoral;
}